.Sidebar{
    text-align: initial;
    color:  #FFFFFF;
    background:"linear-gradient(160deg, rgba(34,3,2,1) 11%, rgba(1,0,2,1) 90%)" ;
    width: 15%;
    /* height: 100vh;
    padding: 20px;
     */
}

.logo{
    
    position: absolute;
    width: 131.53px ;
    height: 39.41px;
    left: 10%;
    right: 0.71%;
    top: 3%;
    bottom: 0.29%;
    

}

.nav{
    
    width: 100px;
    height: 32px;
    /* font-family: 'Basier Circle'; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.navBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: fixed;
    width: 150px;
    height: 176px;
    left: 32px;
    top: 102px;

}

.footer{
    position: fixed;
    bottom: 4px;
}